<div class="text-field form-field">
  <%= form.text_field :first_name, placeholder: "First Name" %>
</div>

<div class="text-field form-field"">
  <%= form.text_field :surname, placeholder: "Surname" %>
</div>

<div class="text-field form-field"">
  <%= form.text_field :email, type: 'email', placeholder: "Email" %>
</div>

<div class="password-field form-field"">
  <%= form.password_field :password, placeholder: "Password" %>
</div>
