
.post {
  text-align: center;
  border: 1px solid black;
  width: 70%;
  margin: auto;
  margin-bottom: 3%;
  background-color: #1b262c;
  border-radius: 10px;
}

.comment-user, .post-user {
  font-weight: bold;
}


