body {
  background-color: rgb(165, 136, 92);
  color: white;
  font-family: 'Gelasio', serif;
}

.post {
  text-align: center;
  border: 1px solid black;
}
.comment {
  background-color: rgb(220, 220, 220);
}
.comment-user, .post-user {
  font-weight: bold;
}


